<div class='col-md-3'>
</div>
<div class='col-md-6'>
	<div class="page-header">
		<div class="row">
			<div class="col-xs-9">
				<h3>
					Games Awaiting Players - {{person.name}}
				</h3>
			</div>
			<div class="col-xs-3">
				<button type="button" class="btn btn-default" ng-click="showHelp()">
					<span class="glyphicon glyphicon-question-sign" title="Rules" style="font-size: 36px"></span>
				</button>
			</div>
		</div>
	</div>

	<div ng-repeat="game in games | orderBy:'-startDate'">
		<div class="row col-xs-12">
			<b>{{game.name}}</b> - <span ng-bind="game.startDate | date:'dd MMM, yyyy'"> </span>
			<span ng-if="!game.gameBegun" class="glyphicon glyphicon-cog" 
			ng-click="gameOptions(game)"></span>
		</div>
		<div class="row col-xs-12">
			<div class="col-xs-2" ng-repeat="player in game.players">
				Pos {{$index + 1}}
				<span ng-if="player.type">
					- {{player.person.name}}
				</span>
				<span ng-if="player.type && player.person.id === person._id.toString()">
					<span class="glyphicon glyphicon-log-in" ng-click="joinGame(game, $index, true)"></span>
				</span>
				<span ng-if="!player.type">
					<span class="glyphicon glyphicon-log-in" ng-click="joinGame(game, $index, false)"></span>
					<span class="glyphicon glyphicon-user" ng-click="joinAsRobot(game, $index)"></span>
				</span>
			</div>
		</div>
	</div>

	<div>
		<a ng-click="addGame()"><h3>Add a new game</h3></a>
	</div>
</div>
