<!DOCTYPE html>
<html>
<head>
    <title>Hand and Foot</title>
	<script src='/bower_components/jQuery/dist/jquery.js'></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-audio/app/angular.audio.js"></script>
	<script src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/javascripts/socket.io/socket.io.js"></script>
    <script src="/javascripts/socket.io/socket.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/angularAuthenticate.js"></script>
    <script src="/javascripts/angularGamePassword.js"></script>
    <script src="/javascripts/angularHints.js"></script>
    <script src="/javascripts/angularGame.js"></script>
    <script src="/javascripts/angularShowHelp.js"></script>
    <script src="/javascripts/angularPlay.js"></script>
    <script src="/javascripts/angularPlayGame.js"></script>
    <script src="/javascripts/angularCardArrays.js"></script>
    <script src="/javascripts/angularMelds.js"></script>
    <script src="/javascripts/angularShowModal.js"></script>
    <script src="/javascripts/angularResultsModal.js"></script>
	<script src='/javascripts/ngDraggable/ngDraggable.js'></script>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/cards.css" rel="stylesheet">
    <link href="/stylesheets/cards-ie9.css" rel="stylesheet">
    <style>
        .glyphicon-log-in {
            cursor: pointer;
        }
        .glyphicon-cog {
            cursor: pointer;
        }
		.player-name {
			font-size: 36px;
		}
    </style>
	<style>
        * {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        [ng-drag] {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        [ng-drag] {
            display: block;
            cursor: move;
        }

        [ng-drag].dragging {
            opacity: 0.5;
        }

        [ng-drop] div {
            position: relative;
            z-index: 2;
        }
</style>
</head>
<body ng-app="handAndFoot">
    <div class="row">
        <div class="col-md-12">
            <ui-view></ui-view>
        </div>
    </div>
</body>
</html>
