<!DOCTYPE html>
<html>
<head>
    <title>Hand and Foot</title>
	<script src='/bower_components/jQuery/dist/jquery.js'></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-audio/app/angular.audio.js"></script>
	<script src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/javascripts/socket.io/socket.io.js"></script>
    <script src="/javascripts/socket.io/socket.js"></script>
    <script src="/angular/angularApp.js"></script>
    <script src="/angular/angularAuthenticate.js"></script>
    <script src="/angular/angularGamePassword.js"></script>
    <script src="/angular/angularHints.js"></script>
    <script src="/angular/angularGame.js"></script>
    <script src="/angular/angularShowHelpService.js"></script>
    <script src="/angular/angularShowHelp.js"></script>
    <script src="/angular/angularPlay.js"></script>
    <script src="/angular/angularPlayGame.js"></script>
    <script src="/angular/angularCardArrays.js"></script>
    <script src="/angular/angularMelds.js"></script>
    <script src="/angular/angularShowModal.js"></script>
    <script src="/angular/angularResultsModal.js"></script>
    <script src="/angular/angularScoresModal.js"></script>
	<script src="/angular/angularAddGame.js"></script>
	<script src='/javascripts/ngDraggable/ngDraggable.js'></script>
	<script src="/bower_components/angular-spinner/angular-spinner.min.js"></script>
	<script src="/bower_components/spin.js/spin.js"></script>
	<script src="/bower_components/angular-loading-spinner/angular-loading-spinner.js"></script>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/customicons.css" rel="stylesheet">
    <link href="/stylesheets/cards.css" rel="stylesheet">
    <link href="/stylesheets/cards-ie9.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <style>
        .glyphicon-log-in {
            cursor: pointer;
        }
        .glyphicon-cog {
            cursor: pointer;
        }
    </style>
	<style>
        * {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        [ng-drag] {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        [ng-drag] {
            display: block;
            cursor: move;
        }

        [ng-drag].dragging {
            opacity: 0.5;
        }

        [ng-drop] div {
            position: relative;
            z-index: 2;
        }
</style>
</head>
<body ng-app="handAndFoot">
    <div class="row">
        <div class="col-md-12">
            <ui-view></ui-view>
        </div>
    </div>
</body>
</html>
