@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-8rabl');
	src:url('../fonts/icomoon.eot?#iefix-8rabl') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-8rabl') format('woff'),
		url('../fonts/icomoon.ttf?-8rabl') format('truetype'),
		url('../fonts/icomoon.svg?-8rabl#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.directions {
	font-size: 36px;
	color: black
}

.buttons {
	font-size: 18px;
	color: black
}

.icon-resign:before {
	content: "\e600";
}
.icon-foot:before {
	content: "\e601";
}
.icon-hand:before {
	content: "\e602";
}
.icon-undo:before {
	content: "\e604";
}
.icon-upload:before {
	content: "\e603";
}
.icon-enter:before {
	content: "\e608";
}
.icon-exit:before {
	content: "\e609";
}
.icon-play:before {
	content: "\e605";
}
.icon-loop:before {
	content: "\e60a";
}
