.waiting {
	background-color: #d5d5d5
}
.playing {
	background-color: red
}

.player-name {
	font-size: 20px;
}

.panel-body {
	padding: 5px !important;
}

.directions {
	font-size: 20px;
	color: black
}
a {
  color: #00B7FF;
}