<div>
	<div ng-if="card.suitNumber !== 4"
	class="card rank-{{card.number}} {{card.suitCard}}"
	ng-class="{highlight: card.highlight}" title="{{card.number}} of {{card.suitCard}}">
		<span class="rank">{{card.number}}</span>
		<span ng-if="card.suitNumber === 0" class="suit">&clubs;</span>
		<span ng-if="card.suitNumber === 1" class="suit">&diams;</span>
		<span ng-if="card.suitNumber === 2" class="suit">&hearts;</span>
		<span ng-if="card.suitNumber === 3" class="suit">&spades;</span>
	</div>
	<div ng-if="card.suitNumber === 4" ng-class="{highlight: card.highlight}" class="card little joker">
		<span class="rank">-</span>
		<span class="suit">Joker</span>
	</div>
</div>
